<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <!-- Enable verbose error messages -->
        <param-value>Development</param-value>
        <!-- Other values: Production, SystemTest, UnitTest -->
    </context-param>
    <welcome-file-list>
        <welcome-file>Index2.xhtml</welcome-file>
    </welcome-file-list>

    <data-source>
        <name>java:global/jdbc/dawDeporte</name> <!-- JNDI resource -->
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name> <!-- Driver -->
        <url>jdbc:h2:~/h2db/dawDeporte;MODE=LEGACY;AUTO_SERVER=TRUE</url> <!--DB in user folder -->
        <user>dawuser</user>
        <password>dawuser</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>



    <session-config>
        <session-timeout> 30 </session-timeout> <!-- tiempo de inactividad -->
        <cookie-config>
            <http-only>true</http-only> <!-- evita acceso desde javascript -->
            <secure>false</secure> <!-- true para forzar enviar por conexión segura TLS-->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- desactiva id de sesión en urls -->
    </session-config>

    <security-role>
        <role-name>USUARIOS</role-name>
    </security-role>
    <security-role>
        <role-name>ADMINISTRADORES</role-name>
    </security-role>
    <!-- Reglas de control de acceso: security-constraint, puede haber varias -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ADMINISTRADORES identificados</web-resource-name>
            <url-pattern>/administrador/*</url-pattern>

        </web-resource-collection>
        <auth-constraint>

            <role-name>ADMINISTRADORES</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Usuarios identificados</web-resource-name>
            <url-pattern>/inicio.xhtml</url-pattern>

        </web-resource-collection>
        <auth-constraint>

            <role-name>USUARIOS</role-name>
            <role-name>ADMINISTRADORES</role-name>
        </auth-constraint>
    </security-constraint>


</web-app>